* {
  margin: 0;
  padding: 0;
}
.MainNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 1%;
  align-items: center;
}
.image {
  width: 60px;
  height: 60px;
  margin-left: 40px;
}
.rright {
  width: 6vw;
  display: flex;
  justify-content: space-between;
}
.search {
  width: 450px;
  height: 35px;
  padding-left: 25px;
  background: url(https://cdn-icons-png.flaticon.com/128/11741/11741045.png) no-repeat left;
  background-size: 20px;
  color: white;
  background-color: rgb(43, 39, 39);
  border: none;
  border-radius: 3%;
}
