.swiper-slide1 {
    object-fit: cover;
    flex-shrink: 10;
    transition-property: transform;
    /* background: rgb(21, 33, 78); */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(10.4px);
    margin-top: 10%;
  }
  .swiper-slide1 img{
    width: 30vw;
    height: 65vh;
    object-fit: cover;
  }