.checkout-page {
    display: flex;
    justify-content: space-between;
    padding: 150px;
}

.leftSide {
    width: 48%;
}

.rightSide{
    height: auto;
    position: absolute;
    right: 0;
    width: 48%;
    padding: 2%;
    margin-top: -2%;
    padding-bottom: 5%;
    background: white;
    color: black;
    border-radius: 10px;
    
}

h2 {
    margin-bottom: 10px;
    margin-top: 5px;
}

input[type="text"], input[type="email"] {
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin: 2%;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.name-fields, .location-fields {
    display: flex;
    justify-content: space-between;
}

.name-fields input, .location-fields input {
    width: 48%;
}

.cart-items {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.item-details {
    display: flex;
    flex-direction: column;
}

.promo-code {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
}

.promo-code input {
    width: 70%;
    margin-right: -10px;
    border: 1px solid red;
}

/* .cart-summary p {
    margin: 5px 0;
} */

.cart-summary Row{
    height: 10px;
}
.checkout-button {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;

}

.apply-btn{
    color: white;
    padding: 2%;
    background: red;
    border: none;
    height: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.checkout-button:hover {
    background-color: white;
    color: red;
    border: 1px solid red;
}
