/* styles.css */

body {
    display:grid;
    grid-template-rows: 1fr 10rem auto;
    grid-template-areas:"main" "." "footer";
    overflow-x:hidden;
    background:#F5F7FA;
    /* min-height:100vh; */
    width: 10vw;
    font-family: 'Open Sans', sans-serif;
    .footer {
        z-index: 1;
        --footer-background:#ED5565;
        display:grid;
        position: relative;
        grid-area: footer;
        min-height:12rem;
        .bubbles {
            position: absolute;
            top:0;
            left:0;
            right:0;
            height:1rem;
            background:var(--footer-background);
            filter:url("#blob");
            .bubble {
                position: absolute;
                left:var(--position, 50%);
                background:var(--footer-background);
                border-radius:100%;
                animation:bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
                    bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
                transform:translate(-50%, 100%);
            }
        }
        .content {
            z-index: 2;
            display:grid;
            grid-template-columns: 1fr auto;
            grid-gap: 4rem;
            padding:2rem;
            background:var(--footer-background);
            a, p {
                color:#F5F7FA;
                text-decoration:none;
            }
            b {
                color:white;
            }
            p {
                margin:0;
                font-size:.75rem;
            }
            >div {
                display:flex;
                flex-direction:column;
                justify-content: center;
                >div {
                    margin:0.25rem 0;
                    >* {
                        margin-right:.5rem;
                    }
                }
                .image {
                    align-self: center;
                    width:4rem;
                    height:4rem;
                    margin:0.25rem 0;
                    background-size: cover;
                    background-position: center;
                }
            }
        }
    }
}

@keyframes bubble-size {
    0%, 75% {
        width:var(--size, 4rem);
        height:var(--size, 4rem);
    }
    100% {
        width:0rem;
        height:0rem;
    }
}
@keyframes bubble-move {
    0% {
        bottom:-4rem;
    }
    100% {
        bottom:var(--distance, 10rem);
    }
}





/* body {
    display: grid;
    grid-template-rows: 1fr 10rem auto;
    grid-template-areas: "main" "." "footer";
    overflow-x: hidden;
    background: #F5F7FA;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.footer {
    z-index: 1;
    --footer-background: #ED5565;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
}

.bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#blob");
}

.bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
               bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
}

.content {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 4rem;
    padding: 2rem;
    background: var(--footer-background);
}

.content a, .content p {
    color: #F5F7FA;
    text-decoration: none;
}

.content b {
    color: white;
}

.content p {
    margin: 0;
    font-size: 0.75rem;
}

.content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content > div > div {
    margin: 0.25rem 0;
}

.content > div > div > * {
    margin-right: 0.5rem;
}

.image {
    align-self: center;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
}

@keyframes bubble-size {
    0%, 75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }
    100% {
        width: 0rem;
        height: 0rem;
    }
}

@keyframes bubble-move {
    0% {
        bottom: -4rem;
    }
    100% {
        bottom: var(--distance, 10rem);
    }
} */


/* .footer{ */
    /* color: black; */
    /* background: rgba(222 16 16 / 20%); */
    /* background: rgb(221,220,220); */
    /* background: linear-gradient(90deg, rgba(221,220,220,1) 83%, rgba(248,145,145,1) 100%); */
    /* border-radius: 16px; */
<<<<<<< HEAD
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    /* backdrop-filter: blur(5px); */
    /* -webkit-backdrop-filter: blur(5px); */
    /* position: absolute ; */
    /* bottom: 0; */
    /* width: 100vw; */
    /* padding: 1% 3%; */
=======
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* position: absolute ; */
    bottom: 0;
    width: 100vw;
    padding: 1% 3%;
>>>>>>> 0173da067d64858fb7fee8f5a2d88501efe25107
    /* font-size: 19px; */
    /* font-weight: 500; */
    /* text-align: center ; */
    /* font-family: cursive; */
    /* background-image: url(https://img.freepik.com/free-photo/nature-beauty-reflected-tranquil-outdoor-scene-generative-ai_188544-12603.jpg?t=st=1714542579~exp=1714546179~hmac=6f634c0501f334acfb7289ba69212115bbc3d30ee52c1b85140c12694b293c41&w=1380); */
    /* clip: rect(0px,60px,200px,0px); */
/* } */
/* .fbtn{
    border-radius: 5%;
    border: none;
    width: fit-content;
    background-color: gray;
    margin-left: 30%;
}
.img{
    width: 26vh;
} */
