.firsth1{
    font-size: 70px;
    color: white;
}
.bt1{
    width: fit-content;
    padding: 2% 4% 2% 4%;
    background-color: rgb(219, 14, 14);
    border: none;
    color: white;
    border-radius: 5px;
    margin-top: 5%;
}