.firsth1{
    font-size: 60px;
}
.bt1{
    width: fit-content;
    padding: 2% 4% 2% 4%;
    background-color: rgb(219, 14, 14);
    border: none;
    color: white;
    border-radius: 5px;
    margin-top: 5%;
}

.bt2{
    width: fit-content;
    padding: 1% 2% 1% 2%;
    background-color: rgb(219, 14, 14);
    border: none;
    color: white;
    border-radius: 5px;
    margin-top: 2%;
}

.logo_wheel {
    width: 50px;
    position: absolute;
    top: 1370px;
    animation: moveAndRotate 5s linear infinite; /* Adjust animation duration and timing function */
  }
  
  @keyframes moveAndRotate {
    0% {
      transform: translateX(0) rotate(0deg); /* Start from left with no rotation */
    }
    100% {
      transform: translateX(calc(100vw - 50px)) rotate(360deg); /* Move to right edge of the viewport while rotating 360 degrees */
    }
  }
  
  