* {
    margin: 0;
    padding: 0;
  }

  .navbar{
    background: rgba(251, 32, 32, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin: 1% 2%;
  }
  
  .image {
    width: 60px;
    height: 60px;
    margin-left: 40px;
  }
  
  .search {
    width: 450px;
    height: 35px;
    padding-left: 25px;
    background: url(https://cdn-icons-png.flaticon.com/128/11741/11741045.png) no-repeat left;
    background-size: 20px;
    color: white;
    background-color: rgb(43, 39, 39);
    border: none;
    border-radius: 3%;
  }
  