

.navbar {
  z-index: 999;
  border-radius: 20px;
 /* From https://css.glass */
 /* background: rgba(62, 62, 62, 0.48); */
 background: rgb(88 41 158 / 22%);
 border-radius: 16px;
 box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(7.6px);
 -webkit-backdrop-filter: blur(7.6px);
 border: 1px solid rgba(203, 194, 194, 0.42);
/* border: 1px solid rgba(203, 194, 194, 0.30); */
  margin: 2% 3%;
  font-size: 17px;
  font-weight: 500;
  /* text-align: center ; */
  /* font-family: cursive; */
}

.image {
  width: 60px;
  height: 60px;
}

.search {
  width: 23vw;
  height: 35px;
  padding-left: 25px;
  padding-right: 10px;
  /* background-size: 20px; */
  color: black;
  
  border-radius: 5px;
  
}

.navMenu {
  cursor: pointer;
}
.navItems {
  cursor: pointer;
}

.frameDrop {
  position: absolute;
  padding: 1%;
  margin: 0.5%;
  margin-left: -15px;
  /* From https://css.glass */
  background: rgb(88 41 158 / 22%);

border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.6px);
-webkit-backdrop-filter: blur(7.6px);
border: 1px solid rgba(203, 194, 194, 0.42);
  width: 8%;
  z-index: 999;
}

@media screen and (max-width: 991px) {
  .navMenu {
    display: none;
    margin: 10%;
  }

  .burger {
    position: absolute;
    display: flex;
    justify-content: right;
    top: 0;
    margin-top: 26px;
    right: 15px;
  }
}

@media screen and (min-width: 991px) {
  .burger {
    display: none;
  }


}

@media screen and (max-width: 593px) {

  .search {
    display: none;
  }
  .frameDrop {
    color: white;
    position: relative;
    width: 25%;
    background: none;
    border: none;
    padding: 12px;
  }

}
.link{
  text-decoration: none;
  
}