.nft{
    user-select:none;
    width: 97%;
    margin: 1rem auto;
    border: 1px solid #ffffff22;
    background: rgb(88 41 158 / 22%);
    border-radius: .7rem;
    overflow: hidden;
    transition: .5s all;

    .main{
      display: flex;
      flex-direction: column;
      padding: 1.2rem 1rem 1.2rem 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
     
      .description{
        margin: .5rem 0;
        color: #a89ec9;
      }
    .image011{
    height: 80%;
    object-fit: cover;
    object-position: center center;
    width: 80%;
  }
   
    }
    ::before{
      position: fixed;
      content: "";
      box-shadow: 0 0 100px 40px #5d5d5d08;
      top: -10%;
      left: -100%;
      transform: rotate(-45deg);
      height: 60rem;
      transition: .7s all;
    }
    &:hover{
      /* border: 1px solid #ffffff44; */
      box-shadow: 0 7px 7px 7px #0000003d;
      transform: scale(1.015);
      /* filter: brightness(1.3); */
      ::before{
        filter: brightness(.5);
        top: -100%;
        left: 200%;
      }
    }
  }

  .creator{
    font-size: 20px;
    margin-top: 20px;
  }
  
