.yourSwiper{
    height: 70vh;
    width: 26vw;
    margin-left: 22%;
}

.swiperImg{
    height: 70vh;
    width: 26vw;
    object-fit: cover;
    
}
@media screen and (max-width:997px) {
    .yourSwiper{
        height: 65vh;
        width: 55vw;
        margin-left: 16%;
    }
    
    .swiperImg{
        height: 60vh;
        width: 55vw;
        object-fit: cover;
        
    }
}